* {
    box-sizing: border-box;
}

img {
    width: 100%;
    float: left;
}


.choose, #status {
    width: 90%;
    margin: 0 auto;
}

button {
    width: 24%;
    float: left;
    height: 500px;
    background: transparent;
    border: none;
}

#status {
    clear: both;
    text-align: center;
}